<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Recipemaker 5000</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="#" th:src="@{/js/dynamic-form.js}" defer></script>
</head>
<body>
<h2>Find a recipe - or create one yourself</h2>
<div id="dynamic-form">
  <dynamic-form></dynamic-form>
</div>
</body>
</html>